<div class="card w-50 mx-auto">
  <div class="card-body">
    <h5 class="card-title"><%= @entry.title %></h5>
    <p class="card-text"><%= @entry.content %></p>
    <%= link_to "Back", student_path(@entry.student), class: "btn btn-sm btn-secondary" %>
    <%= link_to "Edit", edit_entry_path(@entry), class: "btn btn-sm btn-primary" %>
  </div>
</div>