<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><strong>Name</strong></th>
      <th scope="col"><strong>Email</strong></th>
      <th scope="col"><strong>Details</strong></th>
      <th scope="col"></th>
      <th scope="col">
        <strong>
        <%= link_to "Add Student", new_student_path, class: "btn btn-sm btn-primary" %>
        </strong>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @students %>
    <tr>
      <td>
        <%= link_to "Load More", students_path(:json), id: "load-more", class: "btn btn-sm btn-primary" %>
      </td>
    </tr>
  </tbody>
</table>