<h2>Account Info</h2>
<table>
    <tr>
      <td>Name</td>
      <td><%= @teacher.name %></td>
    </tr>
    <tr>
      <td>Username</td>
      <td><%= @teacher.username %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @teacher.email %></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><%#= @teacher.password %></td>
    </tr>
</table>