<!--<div class="inline-display">-->
<!--<li style="float:right"><h2><%#= link_to 'Log In', login_path %></h2></li>-->
<!--<li style="float:right"><h2><%#= link_to 'Sign Up', signup_path %></h2></li>-->
<!--</div>-->