/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
#logo {
  font-family: 'Poller One', cursive;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

body {
  font-family: 'Raleway', sans-serif;
}
  
a {
 color: black;
 text-decoration: none;
}
 
a:hover {
 color: #dbd6d6;
}

#welcome h1, h2 { 
  display: inline;
  padding-left: 15px;
}

.form-wrapper {
  max-width: 300px;
}

input[type="submit"] {
  background-color: black;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

input[type="submit"]:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}




